{% extends 'Frontend/base.html.twig' %}
{% form_theme form 'bootstrap_4_layout.html.twig' %}

{% block body %}
    <div class="row">
        <div class="col-sm-12 col-md-8 col-lg-8 mb-3 mx-auto">
            <section class="add-product">
                <h2 class="h2">{{ 'Navigation.AddCategory'|trans }}</h2>
                <div class="row mt-4">
                    <div class="col-sm-12 col-md-12 col-lg-12">
                        <div class="card">
                            <div class="card-body">
                                {{ form_start(form) }}
                                {{ form_row(form.title) }}
                                {{ form_row(form.articles) }}
                                <input type="submit" class="btn" value="{{ 'AddCategory'|trans }}" />
                                {{ form_end(form) }}
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </div>
{% endblock %}