<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8"/>
    <meta name="robots" content="all" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>{% block title %}Blog - {{ app.request.host }}{% endblock %}</title>
	<link rel="stylesheet" href="{{asset('build/style.css')}}">
    {% block stylesheets %}{% endblock %}
</head>
<body>
<nav class="navbar navbar-expand-sm navbar-dark bg-dark navbar-inverse">
    <h1 class="mt-1">
        <a href="{{ path('main') }}" class="navbar-brand text-white d-none d-block">Blog</a>
    </h1>
    <button class="navbar-toggler navbar-inverse" type="button" data-toggle="collapse"
            data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent"
            aria-expanded="false"
            aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto mt-2 ml-2 mt-lg-0">
            <li class="nav-item active">
                <a href="{{ path('main') }}" class="nav-link text-white">
                    {{ 'Navigation.MainPage'|trans }}
                </a>
            </li>
            <li class="nav-item active">
                <a href="{{ path('addArticle') }}" class="nav-link text-white">
                    {{ 'Navigation.AddArticle'|trans }}
                </a>
            </li>
            <li class="nav-item active">
                <a href="{{ path('addCategory') }}" class="nav-link text-white">
                    {{ 'Navigation.AddCategory'|trans }}
                </a>
            </li>
        </ul>
    </div>
</nav>
<div class="container-fluid">
    <section class="content">
        {% block body %}{% endblock %}
    </section>
</div>
<footer class="footer bg-dark p-3 text-center">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <span class="text-white">{{ app.request.host }}</span>
            </div>
        </div>
    </div>
</footer>
<script src="{{asset('build/app.js')}}"></script>
{% block javascript %}{% endblock %}
</body>
</html>
