{% extends 'Frontend/base.html.twig' %}
{% block body %}
    <div class="row">
        <div class="col-sm-12 col-md-8 col-lg-8 mb-3 mx-auto">
            <section class="articles">
                <h2 class="h2">{{ 'ArticlesList'|trans }}</h2>
                <div class="row mt-4">
                    <div class="col-sm-12 col-md-12 col-lg-12">
                        <div class="card">
                            <div class="card-body">
                                <h3>{{ article.title }}</h3>
                                <p>{{ article.description |length > 50 ? article.description|slice(0, 50) ~ '...' : article.description }}</p>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </div>
{% endblock %}